doctype html
html
  head
    title SimpleLogin
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='#') SimpleLogin
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
        .navbar-nav
          if user
            a.nav-item.nav-link(class=(title == 'Clients Area' ? 'active':''))(href='/')
              | Clients Area
          if !user
            a.nav-item.nav-link(class=(title == 'Register' ? 'active':''))(href='/users/register') Register
            a.nav-item.nav-link(class=(title == 'Login' ? 'active':''))(href='/users/login') Login
          if user
            a.nav-item.nav-link(href='/users/logout') Logout
    !=messages()
    block content

  script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js")
  script(src='/javascripts/bootstrap.js')